select.form-control{
    background: url(../../assets/images/selectDropdown.svg) no-repeat;
    background-position: calc(100% - 20px);
    -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}